.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

text.name {
  font: 12px Helvetica Neue;
}

text.school {
  font-size: 10px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.search-nodes circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.search-nodes text {
  font: 12px sans-serif;
}

rect {
  stroke:#ccc;
  fill:#fff;
  stroke-width: 2px;
  fill-opacity: 0;
  /*visibility: hidden;*/
}

.legend-title {
  font: 20px "Helvetica Neue";
  font-weight: 700;
}

.legend-detail {
  font: 16px "Helvetica Neue";
  font-weight: 200;
}

.year-ticks {
  font: 14px sans-serif;
}

.d3-tip {
  font: 12px sans-serif;
  line-height: 1;
  padding: 12px;
  background: grey;
  color: #fff;
  border-radius: 2px;
}

.svg-canvas {
  display: block;
  margin: auto;
}

#genealogy {
  margin: 0, auto;
  justify-content: center;
}